body{
    color: #fff;
    font-family:'Roboto-Medium', sans-serif;
    background-color: brown;
}

a {
    text-decoration: none;
    color: white;
}

/*
.wrapper{
    border: 1px solid yellow;
}
*/

/*ORDERS*/
.orders_img_set {
    display: flex;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    background-color: #141414;
    border: 1px solid #666666;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 12px;
}

.orders_steps_step {
    width: 33%;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 17px;
}

.orders .orders_img_set{
    padding: 3px 0px;
}

.orders_img_container{
    width: 180px;
    height: 110px;
    padding-left: 5px;
}

.orders_img{
    width: 95%;
    height: 100%;
}

.orders_details {
    width: 50%;
    padding-left: 35px;
    text-align: left;
}

.orders_operations{
    width: 14%;
    user-select: none;
}

.orders_sum{
    width: 11%;
}

.orders_delete{
    width: 11%;
}

.orders_name {
    font-family:'Roboto-Black', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.orders_descr, .orders_weight {
    font-family:'Roboto-Light', sans-serif;
    font-size: 14px;
}

.orders_descr {
    line-height: 1.5;
}

.orders_button {
    padding: 6px 12px;
    border: 1px solid #ff0000;
    border-radius: 6px; 
}

.orders_button_quan {
    color: black;
    background-color: #fff;
    border: none;
    display: inline-block;
    border: 2px solid #fff;
}

.orders_sum {
    font-family:'Roboto-Light', sans-serif;
    font-size: 24px;
    color: #9fff0c;
}

.orders_delete {
    font-family:'Roboto-Light', sans-serif;
    font-size: 45px;
    color: #ff0000;
}

.orders_button_plus, .orders_button_minus, .orders_delete {
    cursor: pointer;
    transition: .3s;
    display: inline-block;
}

.orders_button_plus:hover, .orders_button_minus:hover {
    transition: .3s;
    background-color: #ff0000;
}


/*/ORDERS*/


/*SUMMARY*/

.summary {
    margin-top: 25px;
    margin-bottom: 80px;
}

.summary_container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summary_button {
    border: 2.3px solid #666;
    border-radius: 6px;
    transition: .3s;
    background: rgba(0,0,0,.8);
    color: white;
    cursor: pointer;
    user-select: none;
}

.summary_button:hover {
    background-color: #ff0000;
    border: 2.3px solid #fff;
    transition: .3s;
}

.summary_button:disabled {
    background-color: #ff0000;
    border: 2.3px solid #555;
    transition: .3s;
    background-color: #666;
    color: #444;
}

.summary_button_back {
    padding: 7px 2.6%;
}

.summary_button_next{
    padding: 7px 5%;
}

/*
.submit-step {
    display: none;
}*/




.summary_button_order {
    padding: 5px 58px;
}

.summary_button_order {
    padding: 13px 0;
    width: 130px;
}


.summary_total {
    font-family:'Roboto-Black', sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.goods-in-busket {
    color: #ff0000;
}

.goods-in-sum {
    color: #9fff0c;
}

/*/SUMMARY*/




/*ORDERS*/
.goods_apetit {
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    font-family:'Roboto-Thin', sans-serif;
    margin: auto;
    color: #666666;
    letter-spacing: 5px;
    margin: 75px 0;
}

.goods_wrapper {
    width: 1286px;
    margin: auto;
    text-align: center;
}

.orders_button {
    padding: 6px 12px;
    border: 3px solid #ff0000;
    border-radius: 6px; 
}

.orders_button_quan {
    color: black;
    background-color: #fff;
    border: none;
    display: inline-block;
    border: 2px solid #fff;
}



.orders_button_plus, .orders_button_minus, .orders_delete {
    cursor: pointer;
    transition: .3s;
    display: inline-block;
    user-select: none;
}

.orders_button_plus:hover, .orders_button_minus:hover {
    transition: .3s;
    background-color: #ff0000;
}

/*FORM*/

.order-form  {
    width: 58%;
    margin: auto;
    text-align: center;
    display: inline-block;
    /*border: 1px solid red;*/
}

.order-form .input {
    width: 46%;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

#adress {
    width: 96%;
    text-align: center;
}

.order-form textarea{
    width: 95%;
    padding-top: 15px;
    resize: none;
    background-color: #d2d2d2;
}

.order-form .input:first-child {
    margin-right: 10px;
}

.order-form .input, .order-form textarea {
    padding-left: 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14px;
    font-family:'Roboto-Light', sans-serif;
}

.order-form_agree {
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.order-form_agree_box {
    border: 2px solid #666666;
    width: 13px;
    height: 13px;
    display: inline-block;
    cursor: pointer; 
    position: relative;
}

.order-form_agree_box_cross {
/*    content: 'X';*/
    position: absolute;
    top: 0;
    left: 15%;
    font-size: 80%;
    display: none;
}

.order-form_agree_text {
    vertical-align:top;
    font-size: 14px;
    font-family:'Roboto-Light', sans-serif;
    margin-left: 3px;
}

.delivery {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    text-align:center;
}

.delivery_text{
    display: inline-block;
}

.delivery_text  {
    font-size: 24px;
    font-family:'Roboto-Black', sans-serif;
    padding: 0 6px;
    vertical-align: middle;
}


/*/FORM*/

/*СПАСИБО*/
.thanks{
    font-size: 24px;
    font-family:'Roboto-Light', sans-serif;
    margin-top: 50px;
}

.thanks_container {
    width: 45%;
    text-align: center;
    display: inline-block;
    /*border: 1px solid red;*/
}

.thanks_phone {
    font-size: 45px;
    font-family:'Roboto-Bold', sans-serif;
    color: #ff0000;
}

.thanks_button {
    border: none; 
    background-color: #ff0000;
    width: 375px;
    margin: auto;
    padding: 15px 0;
    border-radius: 6px;
    margin-top: 60px;
    margin-bottom: 5px;  
}

.thanks_tip {
    font-size: 18px;
    font-family:'Roboto-Light', sans-serif;
    letter-spacing: 1px;
}
/*СПАСИБО*/

/* ДОСТАВКА*/
.conditions > h1{
    font-size: 30px;
}

.conditions_content {
    width: 95%;
    margin: 0 auto;
    border: 1px solid gray;
    background-color: rgba(20, 20, 20, .8);
    padding: 30px 0px 15px 0px;
    border-radius: 6px;
    text-align: center;
    font-family:'Roboto-Light', sans-serif;
    font-size: 18px;
    
}

.conditions_content_unit{
    width: 55%;
    margin: 0 auto;
/*    border: 1px solid red;*/
    margin-bottom: 20px;
}

.conditions_bold-number {
    color:#ff0000;
    font-family:'Roboto-Bold', sans-serif; 
    font-size: 24px;
}

.conditions_accent-color {
    color: #ff0000;
    font-family:'Roboto-Bold', sans-serif; 
}
/*ДОСТАВКА*/



/*STEPS*/
.form-step {
    display: none;
}

.thanks-step {
    display: none;
}


/*/STEPS*/
.inform{
    border: 1px solid gray;
    background-color: rgba(20, 20, 20, .8);
    width: 35%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 0 2% 0 2.5%
}
.inform__title{
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.inform__table{
border-collapse: collapse;
width: 100%;
}
.inform__table td{
    padding: 3px 7px;
    font-size: 14px;
}
.inform__table td:last-child{
    width: 20%;
}
.inform__table td:nth-last-child(2){
    width: 16%;
    text-align: center;
}
.inform__table td:nth-last-child(3){
    width: 54%;
}
.inform__total, .inform__total-th{
    text-align: right;
    padding: 3px 0;
    font-size: 22px;
}
.inform__table td:first-child{
    width: 9%;
}