@font-face {
  font-family: 'Roboto-Bold';
  src: url('Roboto-Bold.woff') format('woff'),
       url('Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoBold';
  src: url('RobotoBold.eot');
  src: url('RobotoBold.woff2') format('woff2'),
       url('RobotoBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

